<html>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<body>
    <!--Header and Navbar -->
    <header class="pb-5">
        <nav class=" navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class=" navbar-brand" href="{% url 'djangoapp:index' %}">Best Dealer!</a>
            <div class="ml-auto">
                <a class="h6 mr-2 text-light">Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</a>
            </div> 
        </nav>
    </header>
    </html>