<html>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<body>
    <!--Header and Navbar -->
    <header class="pb-5">
        <nav class=" navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class=" navbar-brand" href="{% url 'djangoapp:index' %}">Contact Us!</a>
            <div class="ml-auto">
                <a class="h6 mr-2 text-light"> Address: Milan, corso Sempione 3</a>
                <a class="h6 mr-2 text-light"> Phone: 555-567765567</a>
            </div> 
        </nav>
    </header>
    </html>